<h2>Users</h2>

<div>
  <a href="/user/new">Criar novo usuário</a>
</div>
<div>
    {{#each users}}
        <a href="/user/detail/{{this._id}}">
        <p>{{this.username}}</p>
        </a>
        <a href="/user/delete/{{this._id}}">Excluir</a>
    {{/each}}
</div>